<!DOCTYPE html>
<html>
<head>
  <title>Location of campuses</title>
</head>
<body>
 <h1>Location of DBC campuses</h1>

    <h2>New york City</h2>
    <p>Located in the heart of the city’s financial district and close to Lower Manhattan’s tech start-up cluster, our coding bootcamp in New York City offers a comfortable learning community where you will learn full stack web development and the tactics to launch your career in technology.</p>

    <h2>San Fransisco</h2>
    <p>Centered within the world’s most dynamic tech economy, Dev Bootcamp San Francisco is located in the heart of the SOMA start-up district and close to the Caltrain station, with easy access to Silicon Valley. We launched the our first coding bootcamp in 2012 with just 20 students. Since then, we have expanded to open campuses in five other cities and have helped thousands of students make the transition into technical jobs. Join us at our coding bootcamp in San Francisco and discover a comfortable learning community where you will learn full stack web development and the tactics to launch your career in technology.</p>

    <h2>San Diego</h2>
    <p>San Diego was rated by Forbes as one of the "Top Cities to Launch a Startup.” As the recent host of Ruby Conf, home to the ever-growing Comi-Con, and, of course, the birthplace of California, it’s a great place to learn to program and begin a career in technology. Dev Bootcamp, the first immersive coding program in California, is thrilled to be a part of San Diego's growing tech community. At our campus, you’ll find a comfortable learning community where you will learn full stack web development and the tactics to launch your career in technology.</p>

    <h2>Chicago</h2>
    <p>Located in the West Loop, our coding class in Chicago convenes in a brand new campus, offering a comfortable learning community where you will learn full stack web development skills and tactics to launch your career in technology.</p>

    <h2>Seattle</h2>
    <p>Seattle is a rich environment for tech experts of all sorts. From titans like Amazon and Microsoft, to mid-sized firms like Expedia, Zillow, and Tableau, to engineering offices for companies like HipChat, Slack and Github, Seattle is a great place to learn to code and work as a developer. Close to Pioneer Square and walking distance to downtown, our Seattle coding bootcamp offers a comfortable learning community where you will learn full stack web development and the tactics to launch your career in technology.</p>

   <h2>Austin coming up soon!</h2>
   <p>Known for great tacos, beautiful bike trails, and a fast-growing tech sector, Austin is the perfect city in which to learn programming and build a tech career. With big tech firms like Dell, Oracle and IBM, plus a booming startup scene, Austin needs developers. Join us at our Austin coding bootcamp and launch your technology career from the epicenter of this vibrant city.</p>

   <p>Please type your name and email here hear about our newest locations and events coming up.</p>
    <form action="/Email" method="POST">
    <input type="text" name="Name" placeholder="Name">
    <input type="text" name="Email" placeholder="Email">
    <button type="submit">Save</button>





</body>
</html>
