body{
  max-width: 960px;
}

main{
  width: 80%;
  float: right;
  position: relative;
  bottom: 200px;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul{
  padding-left: 0px;
  width: 20%;
  display: block;
  position: relative;
  bottom: 21px;

  li {
    list-style-type: none;
  }
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size:20px;
  }
}
@media screen and (max-width: 500px) {
main{
  float: left;
  width: 80%;
  top:-10px;
}

@media screen and (max-width: 500px) {
#external-links ul{
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
  display: block;
  bottom: 21px;
}
}




