

#octopus {
  position: absolute;
  top: 0px;
  left: 15px;
  z-index: -1
}

#hat {
  position: absolute;
  top: 0px;
  left: 32px;
  z-index: 1
}

#glasses {
  text-shadow: 1px 1px 2px black;
  position: absolute;
  top: 15px;
  left: 33px;
  z-index: 2
}